<!doctype html>
<html lang="pt-BR">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
    <title>{{ titulo }}</title>
      <script>
        function checkempty(form) {
            if (form.cLanche.value == "" ||
                form.cLanche.value == null ||
                form.cLanche.value == undefined ||
                form.cLanche.value.length == 0 || 
                form.cIngredientesLanche.value == "" ||
                form.cIngredientesLanche.value == null || 
                form.cIngredientesLanche.value == undefined ||
                form.cIngredientesLanche.value == 0 ||
                form.cValorLanche.value == "" ||
                form.cValorLanche.value == null ||
                form.cValorLanche.value == undefined ||
                form.cValorLanche.value == 0 
                )   {
              
                alert("Digite valores válidos!\n");
                return false;
            } else {
                alert("Cadastrado com sucesso!\n");
                return true;
            }
        }
      </script>
  </head>
  <body id="img" >
    <div class="container-fluid d-flex justify-content-center" >
        <h1>Hamburgueria</h1>
    </div>

    <div style="margin-top: 30px;" class="d-grid gap-4 justify-content-center">
      <form onsubmit="return checkempty(cadastroLanche)"action="./funcionario.html" method="POST" name="cadastroLanche">
            <div  class="modal fade" id="modalLanche" tabindex="-1" aria-labelledby="modalLanche" aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="modalLanche">Cadastrar lanche</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body">
                    <form>
                      <table class="table table-hover">
                        <tr allign="center">
                            <th>Código</th>
                            <th>Nome</th>
                            <th>Ingredientes</th>
                            <th>Valor</th>
                        </tr>
                        {% for i in range(0, len) %}
                        <tr allign="center">    
                            <td>{{ codigo[i] }}</td>
                            <td>{{ nome[i] }}</td>
                            <td>{{ ingrediente[i] }}</td>
                            <td>{{ valor[i] }}</td>
                        </tr>
                        {% endfor %}
                    </table>
                        <div class="mb-3">
                          <label for="recipient-name" class="col-form-label">Nome:</label>
                          <input type="text" class="form-control" id="cLanche" name="cLanche" placeholder="Nome do lanche">
                        </div>
                        <div class="mb-3">
                          <label for="message-text" class="col-form-label">Ingredientes:</label>
                          <textarea class="form-control" id="cIngredienteLanche" name="cIngredienteLanche" placeholder="Ingredientes do lanche"></textarea>
                        </div>
                        <div class="mb-3">
                          <label for="message-text" class="col-form-label">Valor:</label>
                          <input type="number" step="0.01" min="0.01" class="form-control" id="cValorLanche" name="cValorLanche" placeholder="20,00"></textarea>
                        </div>
                    </form>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary" name="cadastrar" value="1" >Cadastrar</button>
                  </div>
                </div>
              </div>
            </div>
            <button type="button"  class="btn btn-warning btn-lg" data-bs-toggle="modal" data-bs-target="#modalLanche" >Cadastrar Lanche</button>
        </form>


        <form action="./funcionario.html" method="POST">
          <div  class="modal fade" id="modalExcluirLanche" tabindex="-1" aria-labelledby="modalExcluirLanche" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="modalExcluirLanche">Excluir Lanche</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                  <form>
                    <table class="table table-hover">
                      <tr allign="center">
                          <th>Código</th>
                          <th>Nome</th>
                          <th>Ingredientes</th>
                          <th>Valor</th>
                      </tr>
                      {% for i in range(0, len) %}
                      <tr allign="center">    
                          <td>{{ codigo[i] }}</td>
                          <td>{{ nome[i] }}</td>
                          <td>{{ ingrediente[i] }}</td>
                          <td>{{ valor[i] }}</td>
                      </tr>
                      {% endfor %}
                  </table>
                      <div class="mb-3">
                        <label for="recipient-name" class="col-form-label">Codigo:</label>
                        <input type="number" class="form-control" id="cCodigo" name="cCodigo" placeholder="Código do Lanche">
                      </div>
                  </form>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                  <button type="submit" class="btn btn-primary"  name="cadastrar" value="2">Excluir</button>
                </div>
              </div>
            </div>
          </div>
          <button style="margin-top: -28px;" type="submit" class="btn btn-warning btn-lg" data-bs-toggle="modal" data-bs-target="#modalExcluirLanche" name="cadastrar" id="cadastrar" value="2" >Excluir Lanche</button>
      </form>

        <form action="./atualizar.html" method="POST">
              <div  class="modal fade" id="modalAtualizarLanche" tabindex="-1" aria-labelledby="modalAtualizarLanche" aria-hidden="true">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="modalAtualizarLanche">Atualizar Lanche</h5>
                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                      <form>
                        <table class="table table-hover">
                          <tr allign="center">
                              <th>Código</th>
                              <th>Nome</th>
                              <th>Ingredientes</th>
                              <th>Valor</th>
                          </tr>
                          {% for i in range(0, len) %}
                          <tr allign="center">    
                              <td>{{ codigo[i] }}</td>
                              <td>{{ nome[i] }}</td>
                              <td>{{ ingrediente[i] }}</td>
                              <td>{{ valor[i] }}</td>
                          </tr>
                          {% endfor %}
                      </table>
                          <div class="mb-3">
                            <label for="recipient-name" class="col-form-label">Codigo:</label>
                            <input type="number" class="form-control" name="tCodigo" placeholder="Codigo do Lanche">
                          </div>
  
                          <div class="mb-3">
                            <label for="message-text" class="col-form-label"></label>
                            <div class="dropdown">
                            </div>
                          </div>
                          <select name="tCampo">
                            <option value="nome">Nome do Lanche</option>
                            <option value="ingredientes">ingredientes</option>
                            <option value="preco">Valor do Lanche</option>
                        </select>
                          <div class="mb-3">
                            <label for="message-text" class="col-form-label">Novo Dado:</label>
                            <input type="text" step="0.01" min="0.01" class="form-control" name="tNovoDado" placeholder=></textarea>
                          </div>
                      </form>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                      <button type="submit" class="btn btn-primary" name="atualizar" value="1" >Cadastrar</button>
                    </div>
                  </div>
                </div>
              </div>
              <button style="margin-top: -31px;" type="button" class="btn btn-warning btn-lg" data-bs-toggle="modal" data-bs-target="#modalAtualizarLanche" >Atualizar Lanche</button>
          </form>


          <form action="./funcionario.html" method="POST">
                <div  class="modal fade" id="modalBebida" tabindex="-1" aria-labelledby="modalBebida" aria-hidden="true">
                  <div class="modal-dialog">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title" id="modalBebida">Cadastrar Bebida</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                      </div>
                      <div class="modal-body">
                        <form>
                            <div class="mb-3">
                              <label for="recipient-name" class="col-form-label">Nome:</label>
                              <input type="text" class="form-control" id="cBebida" name="cBebida" placeholder="Nome da Bebida">
                            </div>
                            <div class="mb-3">
                              <label for="message-text" class="col-form-label">Valor:</label>
                              <input type="number" step="0.01" min="0.01" class="form-control" id="cValorBebida" name="cValorBebida" placeholder="20,00"></textarea>
                            </div>
                        </form>
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary"  name="cadastrar" value="3">Cadastrar</button>
                      </div>
                    </div>
                  </div>
                </div>
                <button type="submit" class="btn btn-warning btn-lg" data-bs-toggle="modal" data-bs-target="#modalBebida" id="cadastrar" name="cadastrar" value="3" >Cadastrar Bebida</button>
            </form>

            <form action="./funcionario.html" method="POST">
              <div  class="modal fade" id="modalExcluirBebida" tabindex="-1" aria-labelledby="modalExcluirBebida" aria-hidden="true">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="modalExcluirBebida">Excluir Bebida</h5>
                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                      <form>
                          <div class="mb-3">
                            <label for="recipient-name" class="col-form-label">Codigo:</label>
                            <input type="number" class="form-control" id="cCodigo" name="cCodigo" placeholder="Código da Bebida">
                          </div>
                      </form>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                      <button type="submit" class="btn btn-primary"  name="cadastrar" value="4">Excluir</button>
                    </div>
                  </div>
                </div>
              </div>
              <button style="margin-top: -30px;" type="submit" class="btn btn-warning btn-lg" data-bs-toggle="modal" data-bs-target="#modalExcluirBebida" name="cadastrar" id="cadastrar" value="4" >Excluir Bebida</button>
          </form>

            <form action="./atualizar.html" method="POST">
                  <div  class="modal fade" id="modalAtualizarBebida" tabindex="-1" aria-labelledby="modalAtualizarBebida" aria-hidden="true">
                    <div class="modal-dialog">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h5 class="modal-title" id="modalAtualizarBebida">Atualizar Bebida</h5>
                          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                          <form>
                              <div class="mb-3">
                                <label for="recipient-name" class="col-form-label">Codigo:</label>
                                <input type="number" class="form-control" name="tCodigo" placeholder="Codigo da Bebida">
                              </div>
      
                              <div class="mb-3">
                                <label for="message-text" class="col-form-label"></label>
                                <div class="dropdown">
                                </div>
                              </div>
                              <select name="tCampo">
                                <option value="nome">Nome da Bebida</option>
                                <option value="preco">Valor da Bebida</option>
                            </select>
                              <div class="mb-3">
                                <label for="message-text" class="col-form-label">Novo Dado:</label>
                                <input type="text" step="0.01" min="0.01" class="form-control" name="tNovoDado" placeholder=></textarea>
                              </div>
                          </form>
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                          <button type="submit" class="btn btn-primary" name="atualizar" value="2" >Cadastrar</button>
                        </div>
                      </div>
                    </div>
                  </div>
                  <button style="margin-top: -31px;" type="button" class="btn btn-warning btn-lg" data-bs-toggle="modal" data-bs-target="#modalAtualizarBebida" >Atualizar Bebida</button>
              </form>

            <div style="margin-top: 30px;" class="d-grid gap-4 justify-content-center">
              <form action="./funcionario.html"  method="POST">
                    <div class="modal fade" id="modalSobremesa" tabindex="-1" aria-labelledby="modalSobremesa" aria-hidden="true">
                      <div class="modal-dialog">
                        <div class="modal-content">
                          <div class="modal-header">
                            <h5 class="modal-title" id="modalSobremesa">Cadastrar Sobremesa</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                          </div>
                          <div class="modal-body">
                            <form>
                                <div class="mb-3">
                                  <label for="recipient-name" class="col-form-label">Nome:</label>
                                  <input type="text" class="form-control" id="cSobremesa" name="cSobremesa" placeholder="Nome da Sobremesa">
                                </div>
                                <div class="mb-3">
                                  <label for="message-text" class="col-form-label">Ingredientes:</label>
                                  <textarea class="form-control" id="cIngredienteSobremesa" name="cIngredienteSobremesa" placeholder="Ingredientes da Sobremesa"></textarea>
                                </div>
                                <div class="mb-3">
                                  <label for="message-text" class="col-form-label">Valor:</label>
                                  <input type="number" step="0.01" min="0.01" class="form-control" id="cValorSobremesa" name="cValorSobremesa" placeholder="20,00"></textarea>
                                </div>
                            </form>
                          </div>
                          <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-primary" name="cadastrar" value="5" >Cadastrar</button>
                          </div>
                        </div>
                      </div>
                    </div>
                    <button style="margin-top: -29px;" type="button" class="btn btn-warning btn-lg" data-bs-toggle="modal" data-bs-target="#modalSobremesa" >Cadastrar Sobremesa</button>
                </form>

                <form action="./funcionario.html" method="POST">
                  <div  class="modal fade" id="modalExcluirSobremesa" tabindex="-1" aria-labelledby="modalExcluirSobremesa" aria-hidden="true">
                    <div class="modal-dialog">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h5 class="modal-title" id="modalExcluirSobremesa">Excluir Sobremesa</h5>
                          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                          <form>
                              <div class="mb-3">
                                <label for="recipient-name" class="col-form-label">Codigo:</label>
                                <input type="number" class="form-control" id="cCodigo" name="cCodigo" placeholder="Código da Sobremesa">
                              </div>
                          </form>
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                          <button type="submit" class="btn btn-primary"  name="cadastrar" value="6">Excluir</button>
                        </div>
                      </div>
                    </div>
                  </div>
                  <button style="margin-top: -29px;" type="submit" class="btn btn-warning btn-lg" data-bs-toggle="modal" data-bs-target="#modalExcluirSobremesa" name="cadastrar" id="cadastrar" value="6" >Excluir Sobremesa</button>
              </form>

                <form action="./atualizar.html" method="POST">
                      <div  class="modal fade" id="modalAtualizarSobremesa" tabindex="-1" aria-labelledby="modalAtualizarSobremesa" aria-hidden="true">
                        <div class="modal-dialog">
                          <div class="modal-content">
                            <div class="modal-header">
                              <h5 class="modal-title" id="modalAtualizarSobremesa">Atualizar Sobremesa</h5>
                              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                              <form>
                                  <div class="mb-3">
                                    <label for="recipient-name" class="col-form-label">Codigo:</label>
                                    <input type="number" class="form-control" name="tCodigo" placeholder="Codigo da Sobremesa">
                                  </div>
          
                                  <div class="mb-3">
                                    <label for="message-text" class="col-form-label"></label>
                                    <div class="dropdown">
                                    </div>
                                  </div>
                                  <select name="tCampo">
                                    <option value="nome">Nome da Sobremesa</option>
                                    <option value="ingredientes">ingredientes</option>
                                    <option value="preco">Valor da Sobremesa</option>
                                </select>
                                  <div class="mb-3">
                                    <label for="message-text" class="col-form-label">Novo Dado:</label>
                                    <input type="text" step="0.01" min="0.01" class="form-control" name="tNovoDado" placeholder=></textarea>
                                  </div>
                              </form>
                            </div>
                            <div class="modal-footer">
                              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                              <button type="submit" class="btn btn-primary" name="atualizar" value="3" >Cadastrar</button>
                            </div>
                          </div>
                        </div>
                      </div>
                      <button style="margin-top: -29px;" type="button" class="btn btn-warning btn-lg" data-bs-toggle="modal" data-bs-target="#modalAtualizarSobremesa" >Atualizar Sobremesa</button>
                  </form>

                <form action="./funcionario.html" method="POST">
                  <div  class="modal fade" id="modalFuncionario" tabindex="-1" aria-labelledby="modalFuncionario" aria-hidden="true">
                    <div class="modal-dialog">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h5 class="modal-title" id="modalFuncionario">Cadastrar Funcionário</h5>
                          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                          <form>
                              <div class="mb-3">
                                <label for="recipient-name" class="col-form-label">Nome:</label>
                                <input type="text" class="form-control" id="cFuncionario" name="cFuncionario" placeholder="Nome do Funcionario">
                              </div>
                              <div class="mb-3">
                                <label for="message-text" class="col-form-label">Senha:</label>
                                <textarea class="form-control" id="cSenhaFuncionario" name="cSenhaFuncionario" placeholder="Senha do Funcionario"></textarea>
                              </div>
                          </form>
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                          <button type="submit" class="btn btn-primary"  name="cadastrar" value="7">Cadastrar</button>
                        </div>
                      </div>
                    </div>
                  </div>
                  <button style="margin-top: -1px;" type="submit" class="btn btn-warning btn-lg" data-bs-toggle="modal" data-bs-target="#modalFuncionario" name="cadastrar" id="cadastrar" value="7" >Cadastrar Funcionário</button>
              </form>

              <form action="./funcionario.html" method="POST">
                <div  class="modal fade" id="modalExcluirFuncionario" tabindex="-1" aria-labelledby="modalExcluirFuncionario" aria-hidden="true">
                  <div class="modal-dialog">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title" id="modalExcluirFuncionario">Excluir Funcionário</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                      </div>
                      <div class="modal-body">
                        <form>
                            <div class="mb-3">
                              <label for="recipient-name" class="col-form-label">Codigo:</label>
                              <input type="number" class="form-control" id="cCodigo" name="cCodigo" placeholder="Código do Funcionário">
                            </div>
                        </form>
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary"  name="cadastrar" value="8">Excluir</button>
                      </div>
                    </div>
                  </div>
                </div>
                <button style="margin-top: -27px;" type="submit" class="btn btn-warning btn-lg" data-bs-toggle="modal" data-bs-target="#modalExcluirFuncionario" name="cadastrar" id="cadastrar" value="8" >Excluir Funcionário</button>
            </form>

              <form action="./atualizar.html" method="POST">
                    <div  class="modal fade" id="modalAtualizarFuncionario" tabindex="-1" aria-labelledby="modalAtualizarFuncionario" aria-hidden="true">
                      <div class="modal-dialog">
                        <div class="modal-content">
                          <div class="modal-header">
                            <h5 class="modal-title" id="modalAtualizarFuncionario">Atualizar Funcionário</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                          </div>
                          <div class="modal-body">
                            <form>
                                <div class="mb-3">
                                  <label for="recipient-name" class="col-form-label">Codigo:</label>
                                  <input type="number" class="form-control" name="tCodigo" placeholder="Codigo do Funcionário">
                                </div>
        
                                <div class="mb-3">
                                  <label for="message-text" class="col-form-label"></label>
                                  <div class="dropdown">
                                  </div>
                                </div>
                                <select name="tCampo">
                                  <option value="nome">Nome</option>
                                  <option value="senha">Senha</option>
                              </select>
                                <div class="mb-3">
                                  <label for="message-text" class="col-form-label">Novo Dado:</label>
                                  <input type="text" step="0.01" min="0.01" class="form-control" name="tNovoDado" placeholder=></textarea>
                                </div>
                            </form>
                          </div>
                          <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-primary" name="atualizar" value="4" >Cadastrar</button>
                          </div>
                        </div>
                      </div>
                    </div>
                    <button style="margin-top: -27px;" type="button" class="btn btn-warning btn-lg" data-bs-toggle="modal" data-bs-target="#modalAtualizarFuncionario" >Atualizar Funcionário</button>
                </form>

        <a href="/"> <button type="button" class="btn btn-warning btn-lg">Retornar ao menu anterior</button></a>
    </div>

    
    

  </body>
</html>