<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
    <title>Bootstrap demo</title>
</head>
<body>
    <p>{{ nome }}</p>
    <p>{{ codigo }}</p> 
    

    <table class="table table-hover">
        
        <tr allign="center">
            <th>Código</th>
            <th>Nome</th>
            <th>Ingredientes</th>
            <th>Valor</th>
        </tr>
        {% for j in codigo %}
        {% for i in nome %}
        
        <tr allign="center">    
            <td>{{j}}</td>
            <td>{{i}}</td>
        </tr>
        {% endfor %}
        {% endfor %}
        

    </table>
</body>
</html>